<header>

  <script>
    localStorage.getItem("pref-theme")==="dark"?document.body.classList.add('dark'):localStorage.getItem("pref-theme")==="light"?document.body.classList.remove('dark'):window.matchMedia('(prefers-color-scheme: dark)').matches&&document.body.classList.add('dark')
  </script>

  <div class="site-header wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <div class="logo-y-switch">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      {%- include theme-toggle.html -%}
    </div>

    <nav class="site-nav" role="navigation">
      <ul>
        {% for nav in site.navs %}
        <li><a href="{{ site.url }}{{ nav.href }}" class="{% if page.menu == nav.label %} selected {% endif %} site-header-nav-item" target="{{ nav.target | default: _self }}" title="{{ nav.label }}">{{ nav.label }}</a></li>
        {% endfor %}
      </ul>  
    </nav>

  </div>

<style>
  .site-header{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
  }
  .logo-y-switch{
    display: flex;
  }

  .site-nav{
    flex: auto;
  }
  .site-nav ul{
    display: inline-flex;
    list-style: none; /*this also works on if put on li*/
    gap: 2em;

    margin-left:auto; /*this?*/
  }

  .site-nav li{
    padding: 0 2em;
    background-color: #edcdcd;
    border-radius: 7px;
  }
</style>
</header>
